body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*navbar*/
.navbar {
  height: 150px;
  background-color: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-span {
  display: flex;
  align-items: center;
  color: white;
}
.navbar-span > img {
  padding-right: 5px;
}

/*content*/
.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .content{
    max-width: 70%;
    margin: auto;
    
  }
}
/*Post*/
.post {
  display: flex;
  flex-direction: column;
  padding: 5em;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.post__img {
  display: block;
  height: 100%;
  width: 250px;
  width: -webkit-fill-available;
}
.post__img > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.post__description__location-googleMaps > a {
  text-decoration: underline;
  color: darkgrey;
}
.post__description__location-googleMaps > a:hover {
  color: darkblue;
}
.post__description__date {
  font-weight: bold;
}
.post__description {
  padding: 0;
}
.post__description__excerpt {
  max-width: 100%;
}
@media (min-width: 1200px) {
  .post {
    flex-direction: row;
  }
  .post__description__excerpt {
    max-width: 70%;
  }
  .post__img {
    min-width: 350px;
    max-width: 350px;
  }
  .post__img > img {
    object-fit: cover;
    border-radius: 5px;
    min-height: 350px;
  }
  .post__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2em;
  }
}
